DATABASE_URL=REPLACE_WITH_IDENTITY_DATABASE_URL
PORT=3020
IDENTITY_ISSUER=REPLACE_WITH_HTTPS_IDENTITY_ISSUER
IDENTITY_JWKS_JSON=REPLACE_WITH_PRIVATE_JWKS_JSON
IDENTITY_COOKIE_KEYS=REPLACE_WITH_COMMA_SEPARATED_COOKIE_KEYS
IDENTITY_RESOURCE_AUDIENCES=urn:mavula:identity-access,urn:mavula:ledger-core,urn:mavula:workbench
IDENTITY_LOGIN_ATTEMPT_LIMIT=5
IDENTITY_LOGIN_ATTEMPT_WINDOW_MS=300000
IDENTITY_BOOTSTRAP_TENANT_ID=REPLACE_WITH_TENANT_ID
IDENTITY_BOOTSTRAP_INSTITUTION_ID=REPLACE_WITH_INSTITUTION_ID
IDENTITY_BOOTSTRAP_INSTITUTION_NAME=REPLACE_WITH_INSTITUTION_NAME
IDENTITY_BOOTSTRAP_ADMIN_EMAIL=REPLACE_WITH_ADMIN_EMAIL
IDENTITY_BOOTSTRAP_ADMIN_PASSWORD=REPLACE_WITH_ADMIN_PASSWORD
IDENTITY_BOOTSTRAP_CLIENTS_JSON=REPLACE_WITH_OAUTH_CLIENT_CONFIGURATION_JSON
